/* The background of the website */
body {
    background: linear-gradient(to bottom, #4EC5FF, #94C8F1 40%, #EEA0FF 95%); /* Background color */
    min-height: 100vh; /*Makes the background color the entirety of the viewport*/
    max-width: min-content; /* Prevents excessive width to the body */

    /*overflow: hidden;*/ /*Hides everything that is outside of the viewport {UNCOMMENT WHEN DONE WITH HANDLING THE MOBILE CASE}*/
}

/* pecifically targets the text in the user message box*/
section h2 {
    color: white;
    font-size: 3vh;
}  

/* Specifically targets the text above the boxes */
section section h2 {
    color: white;
    text-align: center;
    font-size: 3vh;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    border: 2px solid white;
    margin: 50px 50px;
    border-radius: 20px;
    border-radius: 3vw; /* Rounds the edges of the box*/
}

.faces {
    display: flex;
}

.face {
    font-size: 36px;
    margin: 10px;
}

.box-container {
    display: flex;
    justify-content: space-between; /* Align items with space between them */
    margin-top: 20px; /* Adjust margin as needed */
}

.box {
    border: 2px solid white;
    border-radius: 6vw; /* Rounds the edges of the box*/
    padding: 150px;
    margin: 5px 50px;
    width: 25vw; /**/
    height: 15vh;

}

.box h2 {
    margin-left: 150px; /* Remove default margin */
}
