/* The background of the website */
body {
    background: linear-gradient(rgb(222 150 255 / 30%) 23.5%, rgb(54 194 247 / 30%)74.5%); /* Background color */
    min-height: 100vh; /* Makes the background color the entirety of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* specifically targets the text in the user message box */
section h2 {
    color: black;
    font-size: 200%;
    text-align: center;
    margin-top: 1%;
}  

/* Specifically targets the text above the icon boxes */
section section h2 {
    color: black;
    text-align: center;
    font-size: 250%;
    margin-bottom: 10px;
}

/* The box containing the greeting and the faces */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 2px solid white; /* Border color and width of the greeting box */
    margin: 0% 6%;
    border-radius: 3vw; /* Rounds the edges of the box */
    background-color: rgb(255 255 255 / 20%); /* Adds the glaze effect for the container */
}

/* How the faces are arranged */
.faces {
    display: flex;
    justify-content: space-between;
}

/* The size of the emoji faces */
.face {
    font-size: 6vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

/* How the icon boxes are arranged */
.box-container {
    display: flex;
    justify-content: center; /* Align items with space between them */
    margin: 2%; /* Adjust margin as needed */
}

/* The boxes surrounding the DevJournal and Calander */
.box {
    border: 2px solid white;
    border-radius: 6vw; /* Rounds the edges of the box */
    padding: 8vw; /* Allows the width of box to shift properly w/ screen size change */
    margin: 1vh 2vw; /* 1vh to let the h2 texts lie closer to their respective boxes */
    width: 25vw; /* General size of box */
    height: 15vh; /* General size of box */
    background-color: rgb(255 255 255 / 20%); /* Adds the glaze effect for the boxes */
    align-items: center;
    justify-content: center;
    display: flex;
}

/* The images of the calander and the DevJournal */
.icon {
    height: 20vh;
    width: 20vw;
    margin: auto;
    object-fit: contain;
}

/* Controls the size of the emojis */
.emoji {
    width: 12vw;
    height: 12vw;
}

/* Media query for smaller screens */
@media screen and (width <= 800px) {
    /* Targets the way boxes are displayed */
    .box-container {
        flex-direction: column;
        justify-content: center; /* Center items vertically */
        align-items: center; /* Center items horizontally */
    }

    /* targets the text above the icon boxes */
    section section h2 {
        margin: 0% auto; /* Centers the text above the icon boxes */
        font-size: 200%; /* Adjust font size for smaller screens */
    }

    /* targets the sentiment analysis box */
    .container {
        width: 70vw; /* Adjust width for smaller screens ALSO ensures centered properly on mobile */
        box-sizing: border-box; 
        padding: 40px;
        margin: 5vh auto;

        h2 {
            font-size: 150%; /* Adjust font size for smaller screens */
        }
    }

    /* targets the icon boxes */
    .box {
        width: 70vw; /* Adjust width for smaller screens ALSO ensures centered properly on mobile */
        height: max-content;
        box-sizing: border-box; 
        margin: auto;
        margin-bottom: 5vh;
    }


    /* targets the icons specifically to make them smaller in mobile case */
    .icon {
        height: fit-content;
        max-width:  fit-content;
        margin: auto;
    }
}