
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    background-color: white;
}


.hidden {
    display: none;
}


/* Task List section */

.task-list.parent {
    position: relative;
}


.task-list {
    width: 100%; /* Adjust width as needed */
    max-width: 600px; /* Set maximum width */
    background-color: #F8F0FF;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.task-list-top {
    display: flex;
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Center elements vertically */
    padding: 0px 20px 0px 20px;
}

#date {
    margin-left: auto; /* Push the date button to the middle */
    font-style: italic;
    font-weight: lighter;
    font-size: xx-large;
    color:#4a4444;
    font-family: "Montserrat";
}

#closeTaskList {
    margin-left: auto; /* Push the close button to the right */
    font-size: xx-large;
    color: #E59F9F;
    background-color: transparent;
    border: transparent;
}

#closeTaskList:hover{
    color: #fa5353;
}





.task-list-middle {
    overflow-y: auto;
    border: 1px solid white;
    max-height: 250px;
}

.task-list-ul li {
    padding-right: 20px;
}

.placeholder-task {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center vertically */
    padding: 10px 0px 0px 20px;
}

#task {
    margin: 0;
    flex: 0.9;
    font-weight: bold;
}


p {
    margin: 0;
    padding: 10px 0px 20px 20px;
    border-bottom: 1px solid white;
    border-width: 50%;
    font-size: smaller;
}






.task-list-bottom {
    display: flex;
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Center elements vertically */
    padding: 20px 20px 20px 20px;
}

#add {
    margin-left: auto; /* Push the close button to the right */
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 58px;

    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #708EE8;
    color: white;
}

#add:hover{
    background-color: hsl(237, 100%, 78%); /* Green */
    color: white;
}
    /*
    original code
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
     align-items: center;
    background-color: #708EE8
    width: 50px;
    height: 50px;
    color: white;
    
    */


/* Pop-up section */

/*Place Pop-up section with the Task-list section*/
.pop-up.parent {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
     /* display: none;*/ /* Initially hide section-2,uncomment the code in js development */
     border: 0px solid #9836a8; /*Fix redundant top border in pop-up section*/
    
     font-weight: bolder;
    
}

.pop-up {
    width: 100%; /* Adjust width as needed */
    max-width: 450px; /* Set maximum width */
    background-color: white;
    border-radius: 20px;
    border: 1px solid #3F66D2;


    position: absolute;
    top:0;
    right:0;
}

.pop-up-top {
    display: flex;
    align-items: start;
    padding: 10px 20px 0px 20px;
}

#closePopUp {
    margin-left: auto; /* Push the close button to the right */
    font-size: xx-large;
    color: #E59F9F;
    background-color: transparent;
    border: transparent;
}

#closePopUp:hover{
    color: #fa5353;
}






.pop-up-middle {
    padding: 0px 0px 0px 20px;
}

#taskTitle{
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
}

#taskTitle,
#taskDesc {
    margin: 0;
    padding: 10px 0px 10px 0px;
    color: #3F66D2;
}

#taskDesc {
    opacity: 0.5;
    font-style: italic;
    font-weight: lighter;
}

#titleText {
    border-radius: 10px;
    background-color: #D5EDFC;
    border: none;
    width: 95%;
    height: 30px;
}

#descText {
    border-radius: 5px;
    background-color: #D5EDFC;
    border: none;
    resize: none;
    width: 95%;
}






.pop-up-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#confirm {
    margin: 20px auto 20px auto;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid #DFBDE4;
    background-color: #F2E5FB;
    font-weight: bolder;
}

#confirm:hover{
    background-color: rgb(235, 209, 252);
    color: white;
}

#date,
#closeTaskList,
#task,
p,
#add,
#closePopUp,
#taskTitle,
#titleText,
#descText,
#taskDesc,
#confirm {
    font-family: "Montserrat";
}


/* Media query for smaller screens */
@media screen and (width <= 800px) {
    .task-list.parent{
        height: 80%;
        width: 80%;
        margin: 60px 60px 10 10;
    }

    .task-list-middle {
        overflow-y: auto;
        border: 1px solid white;
        max-height: 400px;
    }



    #add{
       size: 80%;
       
    }
    .pop-up.parent{
        width: 65%;

    }

    #taskTitle{
        font-family: "Arial";
        font-size: larger;
        font-style: italic;
        font-weight: 700;
    }

    #taskDesc {
        font-size: small;
    }
    

    
    #titleText, 
    #descText{
        width: 93%;
    }
}

@media (max-width: 480px) {

    #date {
        margin-left: 50px; /* Push the date button to the middle */
        font-style: italic;
        font-weight: lighter;
        font-size: x-large;
        color:#4f46a0;
        font-family: "Montserrat";
        align-items: center ;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  }
