
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    background-color: white;
}

/* Color variables */

:root {
    --color1: #9ac7ff;
    --color2: #6E8BEB;
    --color3: rgb(176 93 176);
    --color4: #D5EDFC;
    --color5: #f4ebfa;
    --edit:#c9cdff;
    --delete: #efd9f6;
    --preClose: #E59F9F;
    --onClose: #fa5353;
}
    
/* Testing purposes before implementation of JS */

.hidden {
    display: none;
}


/* Task List section */

.task-list.parent {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 50%);
}


.task-list {
    width: 100%; /* Adjust width as needed */
    max-width: 600px; /* Set maximum width */
    background-color: var(--color5);
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Task List top subsection */

.task-list-top {
    display: flex;
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Center elements vertically */
    padding: 0px 20px 0px 20px; /* padding format: top right bottom left */
}

#date {
    margin-left: auto; /* Push the date button to the middle */
    font-style: italic;
    font-weight: 100;
    font-size: xx-large;
    color:#4a4444;
}

/* Buttons */

#edit{
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
}

#edit:hover{
    background-color: var(--edit);
    
}

#delete{
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
}

#delete:hover{
    background-color:var(--delete);
    
}

#closeTaskList {
    margin-left: auto; /* Push the close button to the right */
    font-size: xx-large;
    color: var(--preClose);
    background-color: transparent;
    border: transparent;
}

#closeTaskList:hover{
    color: var(--onClose);
}

#add {
    margin-left: auto; /* Push the close button to the right */
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 58px;

    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--color2);
    color: white;
}

#add:hover{
    background-color: var(--color1); 
    color: white;
}
    /*
    original code
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    background-color: #708EE8
    width: 50px;
    height: 50px;
    color: white;
    
    */

/* Task List middle subsection */

.task-list-middle {
    overflow-y: auto;
    border: 1px solid white;
    max-height: 250px;
}

.task-list-ul li {
    padding-right: 20px;
}

.placeholder-task {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center vertically */
    padding: 10px 0px 0px 20px;
}

#task {
    margin: 0;
    flex: 0.9;
    font-weight: bold;
}


p {
    margin: 0;
    padding: 10px 0px 20px 20px;
    border-bottom: 1px solid white;
    border-width: 50%;
    font-size: smaller;
}

/* Task List bottom subsection */

.task-list-bottom {
    display: flex;
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Center elements vertically */
    padding: 20px 20px 20px 20px;
}

/* Pop-up section */

/*Place Pop-up section with the Task-list section*/
.pop-up.parent {
    position: fixed;
    align-items: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 80%);
     /*display: none;  Initially hide section-2,uncomment the code in js development */
    border: 0px solid var(--color3); /*Fix redundant top border in pop-up section*/
    font-weight: bolder;

    
    justify-content: center;
}

.pop-up {
    width: 100%; /* Adjust width as needed */
    max-width: 450px; /* Set maximum width */
    background-color: white;
    border-radius: 20px;
    border: 1px solid #3F66D2;


    position: absolute;
    top:0;
    right:0;
}

/* Pop-up top subsection */

.pop-up-top {
    display: flex;
    align-items: start;
    padding: 10px 20px 0px 20px;
}

#closePopUp {
    margin-left: auto; /* Push the close button to the right */
    font-size: xx-large;
    color: #E59F9F;
    background-color: transparent;
    border: transparent;
}

#closePopUp:hover{
    color: #fa5353;
}

/* Pop-up middle subsection */

.pop-up-middle {
    padding: 0px 0px 0px 20px;
}

#taskTitle{
    font-family: "Arial";
    font-size: large;
    font-style: normal;
    font-weight: bold;
}

#taskTitle,
#taskDesc {
    margin: 0;
    padding: 10px 0px 10px 0px;
    color: #3F66D2;
}

#taskDesc {
    opacity: 0.5;
    font-style: italic;
    font-weight: lighter;
    font-size: small;
}

#titleText {
    border-radius: 10px;
    background-color: var(--color4);
    border: none;
    width: 95%;
    height: 30px;
}

#descText {
    border-radius: 5px;
    background-color: var(--color4);
    border: none;
    resize: none;
    width: 95%;
}

/* Pop-up bottom subsection */

.pop-up-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#confirm {
    margin: 20px auto 20px auto;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid #DFBDE4;
    background-color: #F2E5FB;
    font-weight: bolder;
}

#confirm:hover{
    background-color: rgb(235, 209, 252);
    color: white;
}

/* Font for all text in task-list/pop-up */

#date,
#closeTaskList,
#task,
p,
#add,
#closePopUp,
#taskTitle,
#titleText,
#descText,
#taskDesc,
#confirm {
    font-family: "Montserrat";
}

/* Media query for smaller screens */

@media screen and (width <= 820px) {
    .task-list.parent{
        top: -18%;
        width: 60%;
        margin: 10px 60 10 10;
        max-height: 500px;
    }

    .task-list.child{
        height: 120%;
    }

    #date{
        font-size: x-large;
    }

    .task-list-middle {
        overflow-y: auto;
        border: 1px solid white;
        max-height: 320px;
        font-size:small;
    }

    #add{
       size: 80%;
       
    }
    .pop-up.parent{
        
        width: 55%;
        top: 30%

    }

    #taskTitle{
        font-size: large;
        font-style: normal;
        font-weight: 700;
    }

    #taskDesc {
        font-size: small;
    }
    

    
    #titleText, 
    #descText{
        width: 93%;
    }

}

@media (max-width: 480px) {

    #date {
        margin-left: auto;
        font-style: italic;
        font-weight: lighter;
        font-size: x-large;
        color:#2d4484;
        align-items: center ;
    }

    h3{
        font-size: medium;
    }

    p{
        font-size: small;
    }

    .pop-up.parent{
        width: 55%;
        top: 30%
    }

    #titleText, 
    #descText{
        width: 88%;
    }

    #taskTitle{
        margin-top: -8%;
        font-size:medium;
    }
    
    #closePopUp{
        margin-top: 0;
        font-size:x-large;
    }
}
