
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    background-color: white;
}

/* Color variables */

:root {
    --color1: #9ac7ff;
    --color2: #6E8BEB;
    --color3: rgb(176 93 176);
    --color4: #D5EDFC;
    --color5: #f4ebfa;
    --edit:#c9cdff;
    --delete: #efd9f6;
    --pre-close: #E59F9F;
    --on-close: #fa5353;
}

/* Font for all text in task-list/pop-up */
#date,
#close-task-list,
#task,
p,
#add,
#close-pop-up,
#task-title,
#title-text,
#desc-text,
#task-desc,
#confirm {
    font-family: Montserrat, sans-serif;
}

.hidden {
    display: none;
}


/* Task List section */

.task-list.parent {
    position: fixed;
    text-align: left;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 50%);
}


.task-list {
    width: 100%; /* Adjust width as needed */
    max-width: 600px; /* Set maximum width */
    min-height: 440px;
    background-color: var(--color5);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / var(--shadow-opacity, 0.2));
}

/* Task List top subsection */

.task-list-top {
    display: flex;
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Center elements vertically */
    padding: 0 20px /* padding format: top right bottom left */
}

#date {
    margin-left: auto; /* Push the date button to the middle */
    font-style: italic;
    font-weight: 100;
    font-size: xx-large;
    color:#4a4444;
}

/* Buttons */

#edit{
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
}

#edit:hover{
    background-color: var(--edit);
    
}

#delete{
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
}

#delete:hover{
    background-color:var(--delete);
    
}

#close-task-list {
    margin-left: auto; /* Push the close button to the right */
    font-size: xx-large;
    color: var(--pre-close);
    background-color: transparent;
    border: transparent;
}

#close-task-list:hover{
    color: var(--on-close);
}


#add {
    background-color: #708EE8;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 70px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-right: 45px;   
}



#add:hover{
    background-color: var(--color1); 
    color: white;
}

    /*
    original code
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    background-color: #708EE8
    width: 50px;
    height: 50px;
    color: white;
    */

    /* font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 58px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--color2);
    color: white;
    padding-bottom: 8px;*/



.task-list-middle {
    overflow-y: auto;
    border: 1px solid white;
    max-height: 250px;
}

.task-list-ul li {
    padding-right: 20px;
}

.task-list-ul p {
    margin: 0;
    padding: 10px 0 20px 20px;
    border-bottom: 1px solid white;
    border-width: 50%;
    font-size: smaller;
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center vertically */
    padding: 10px 0 0 20px;
}

#task {
    margin: 0;
    flex: 0.9;
    font-weight: bold;
}

/* Task List bottom subsection */

.task-list-bottom {
    display: flex;
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Center elements vertically */
    padding: 20px;
    margin-left: 75%;
}

/* Pop-up section */

/* Place Pop-up section with the Task-list section */
.pop-up.parent {
    position: fixed;
    align-items: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 80%);

     /* display: none;  Initially hide section-2,uncomment the code in js development */
    border: 0 solid var(--color3); /* Fix redundant top border in pop-up section */
    font-weight: bolder;
    justify-content: center;
}

.pop-up {
    width: 100%; /* Adjust width as needed */
    max-width: 450px; /* Set maximum width */
    background-color: white;
    border-radius: 20px;
    border: 1px solid #3F66D2;
    position: fixed;
    top:0;
    right:0;
    padding-left: 
}

/* Pop-up top subsection */

.pop-up-top {
    display: flex;
    align-items: start;
    padding: 10px 20px 0;
}

#close-pop-up {
    margin-left: auto; /* Push the close button to the right */
    font-size: xx-large;
    color: #E59F9F;
    background-color: transparent;
    border: transparent;
}

#close-pop-up:hover{
    color: #fa5353;
}

/* Pop-up middle subsection */

.pop-up-middle {
    padding: 0 0 0 20px;
}

#task-title{
    font-family: Arial, sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: bold;
}

#task-title,
#task-desc {
    margin: 0;
    padding: 10px 0;
    color: #3F66D2;
}

#task-desc {
    opacity: 0.5;
    font-style: italic;
    font-weight: lighter;
    font-size: small;
}

#title-text {
    border-radius: 10px;
    background-color: var(--color4);
    border: none;
    width: 95%;
    height: 30px;
}

#desc-text {
    border-radius: 5px;
    background-color: var(--color4);
    border: none;
    resize: none;
    width: 95%;
}

/* Pop-up bottom subsection */

.pop-up-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#confirm {
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #DFBDE4;
    background-color: #F2E5FB;
    font-weight: bolder;
}

#confirm:hover{
    background-color: rgb(235 209 252);
    color: white;
}

/* Media query for smaller screens */
/* stylelint-disable-next-line media-feature-range-notation */


/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: 480px) {
    #date {
        margin-left: auto;
        font-style: italic;
        font-weight: lighter;
        font-size: x-large;
        color:#2d4484;
        display:flex;
        align-items: center;
    }

    h3{
        font-size: medium;
    }

    p{
        font-size: small;
    }


    #add {
        background-color: #708EE8;
        width: 50px;
        height: 50px;
        color: white;
        font-size: 70px;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-right: 45px; 
        border: black;  
    }

    #add:hover{
        background-color: var(--color1); 
        color: white;
    }

    .pop-up.parent{
        width: 50%;
        top: 30%;
    }

    #title-text, 
    #desc-text{
        width: 88%;
    }

    #task-title{
        margin-top: -8%;
        font-size:medium;
    }
    
    #close-pop-up{
        margin-top: 0;
        font-size:x-large;
    }
}

/* Overlay for blurring the background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    z-index: 1;
    display: none; /* Initially hidden */
}

/* Ensure the pop-up and task-list are above the overlay */
.pop-up, .task-list {
    position: fixed;
    z-index: 2;
}

/* Show overlay when active */
.overlay.active {
    display: block;
}

